# Will be generated on build time
bin
obj
*.suo
*.user
/sample_files
/sample_images
/Kuriimu/Publish.bat
/.vs
/Kuriimu/Properties/AssemblyInfo.cs
/Kuriimu/.vs/Kuriimu.sqlite
*.sqlite
/Kuriimu/packages
