# Will be generated on build time
Kuriimu/Properties/AssemblyInfo.cs
Kuriimu/Version.cs

bin
obj
*.suo
*.user
Publish.bat
/sample_files
/sample_images
/Kuriimu/TempPublish.bat
/.vs
/Kuriimu/.vs/Kuriimu.sqlite
/Kuriimu/.vs/Kuriimu.sqlite
*.sqlite
/Kuriimu/packages
