<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="archive_nintendo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="archive_sarc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <archive_nintendo.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>NINTENDO</value>
            </setting>
        </archive_nintendo.Properties.Settings>
        <archive_sarc.Settings1>
            <setting name="PluginName" serializeAs="String">
                <value>SARC</value>
            </setting>
        </archive_sarc.Settings1>
    </userSettings>
</configuration>