<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kukki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Kukki.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Kukki</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>v1.0.0</value>
            </setting>
            <setting name="PluginDirectory" serializeAs="String">
                <value>plugins</value>
            </setting>
        </Kukki.Properties.Settings>
    </applicationSettings>
</configuration>