<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Kuriimu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Kuriimu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Kuriimu.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBatchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FindWhat" serializeAs="String">
                <value />
            </setting>
            <setting name="FindMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedGameHandler" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SequenceSearchSubfolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SequenceSearchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SequenceSearchEncoding" serializeAs="String">
                <value>Unicode</value>
            </setting>
            <setting name="SequenceSearchWhat" serializeAs="String">
                <value />
            </setting>
        </Kuriimu.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Kuriimu.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Kuriimu</value>
            </setting>
            <setting name="PluginDirectory" serializeAs="String">
                <value>plugins</value>
            </setting>
        </Kuriimu.Properties.Settings>
    </applicationSettings>
</configuration>
