<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Kuriimu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Kuriimu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Kuriimu.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FindWhat" serializeAs="String">
                <value />
            </setting>
            <setting name="FindMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectorFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectorOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectorLeneance" serializeAs="String">
                <value />
            </setting>
        </Kuriimu.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Kuriimu.Properties.Settings>
            <setting name="PluginDirectory" serializeAs="String">
                <value>plugins</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Kuriimu</value>
            </setting>
        </Kuriimu.Properties.Settings>
    </applicationSettings>
</configuration>
