<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="file_jmsg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="file_jmsg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <file_jmsg.Properties.Settings>
            <setting name="SortEntries" serializeAs="String">
                <value>False</value>
            </setting>
        </file_jmsg.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <file_jmsg.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>JMSG</value>
            </setting>
        </file_jmsg.Properties.Settings>
    </applicationSettings>
</configuration>