<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="game_rocket_slime_3ds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="game_rocket_slime_3ds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <game_rocket_slime_3ds.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="Scene" serializeAs="String">
                <value>TopScreen</value>
            </setting>
        </game_rocket_slime_3ds.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <game_rocket_slime_3ds.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>Rocket Slime 3DS</value>
            </setting>
        </game_rocket_slime_3ds.Properties.Settings>
    </applicationSettings>
</configuration>