<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kukkii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Kukki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kukkii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kukki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Kukkii.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Kukkii</value>
            </setting>
            <setting name="PluginDirectory" serializeAs="String">
                <value>plugins</value>
            </setting>
        </Kukkii.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Kukkii.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBatchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridColorAlternate" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BatchScanSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailWidth" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="ThumbnailHeight" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="OpenRawWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OpenRawHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OpenRawFormat" serializeAs="String">
                <value>RGBA8888</value>
            </setting>
        </Kukkii.Properties.Settings>
    </userSettings>
</configuration>