<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="text_gmml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="text_gmm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="text_gmml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="text_gmm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <text_gmml.Properties.Settings>
            <setting name="SortEntries" serializeAs="String">
                <value>False</value>
            </setting>
        </text_gmml.Properties.Settings>
        <text_gmm.Properties.Settings>
            <setting name="SortEntries" serializeAs="String">
                <value>False</value>
            </setting>
        </text_gmm.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <text_gmml.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>GMML</value>
            </setting>
        </text_gmml.Properties.Settings>
        <text_gmm.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>GMM</value>
            </setting>
        </text_gmm.Properties.Settings>
    </applicationSettings>
</configuration>