<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="game_unchained_blades_exxiv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <game_unchained_blades_exxiv.Properties.Settings>
            <setting name="PluginName" serializeAs="String">
                <value>Unchained Blades EXXiV</value>
            </setting>
            <setting name="BubbleType" serializeAs="String">
                <value>Type1</value>
            </setting>
        </game_unchained_blades_exxiv.Properties.Settings>
    </userSettings>
</configuration>