<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="text_t2b.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="text_t2b.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <text_t2b.Properties.Settings>
            <setting name="SortEntries" serializeAs="String">
                <value>True</value>
            </setting>
        </text_t2b.Properties.Settings>
        <text_t2b.Properties.Settings1>
            <setting name="SortEntries" serializeAs="String">
                <value>true</value>
            </setting>
        </text_t2b.Properties.Settings1>
    </userSettings>
</configuration>